# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/